body{
  background-image: url("../img/ShavedPunk.png");
  background-size: 25%;
}

h1{
  text-align: center;
}

.jumbo{
  text-align: center;
  font-family: fantasy;
  }

.cards{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list-item{
  text-align: left;
  font-family: cursive;
}
.list-item-trip{
  
}
.card{
  background-color: rgba(240, 241, 158, 0.884);"
}

.card-trip{
  background-color: rgba(158, 241, 169, 0.884);"
}